.plan-wrapper{
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .plan-box{
        width: 1000px;
        padding: 1.5rem 1.5rem 2rem 1.5rem;
    }
}

@media (max-width:540px){
    body{
        background-color: #666;
    }

    .plan-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
        .plan-box{
            height: 800px;
            width: 500px;
            padding: 1.5rem 1.5rem 2rem 1.5rem;
            margin: 10px;
        }

    }
    .btn{
        width: 130px!important;
        height: 60px!important;
    }
}
